# Google Cloud OAuth 2.0 Client ID for Google Drive Uploads
# Get this from Google Cloud Console > APIs & Services > Credentials
VITE_GOOGLE_CLIENT_ID=730295812346-vi4lqlf87qp85o97r1j54o0u10ivugfh.apps.googleusercontent.com
